#page-information nav #container {
    height: 100vh;
    width: 100vw;
}

#page-information #content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
}

#page-information #content .img-main {
    display: flex;
}

#page-information #content .img-main img {
    width: 20rem;
    height: 20rem;

    border-radius: 14rem;

    margin: 0.8rem auto;
}

#page-information #content .content-about {
    width: 30rem;
    height: 36rem;

    margin: .8rem auto 1.6rem;
    padding: .8rem;

    border-radius: 0.8rem; /* Borda arredondadas */
    box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.363);
   
}

#page-information #content .content-about h2 {
    color: var(--color-primary-darker);
    font: 700 2.4rem poppins;
    text-align: center;
    line-height: 1.4rem;

    margin-top: 1.2rem;

}

#page-information #content .content-about p {
    color: var(--color-primary-darker);
    font: 500 1.6rem poppins;
    text-align: center;

    margin: 0.4rem auto .8rem;

}

#page-information #content .content-about strong {
    font-size: 1.8rem;

}

#page-information main #content {
    flex: 1;
    min-height: 100vh;
}



@media (min-width: 400px) {
    #page-information #content .img-main img {
        width: 19rem;
        height: 19rem;

        margin: auto;

    }

    #page-information #content .content-about {
        width: 38rem;
        height: 40rem;

        margin: 1.2rem auto 3rem;
    }

    #page-information #content .content-about h2 {
        font-size: 3rem;

        margin-top: 2.2rem;  

    }

    #page-information #content .content-about p {
        font-size: 1.8rem;
        margin-top: 1.2rem;

        text-align: center;

    }

}

@media (min-width: 700px) {
    #page-information #content {
        display: flex;
        flex-direction: initial;
        justify-content: center
    }

    #page-information #content .img-main img {
        width: 28rem;
        height: 28rem;

        margin-right: 2.2rem;
    }

    #page-information #content .content-about {
        width: 34rem;
        height: 42rem;
        
        margin: 9.8rem auto 3rem 0;
    }

    #page-information #content .content-about h2 {
        font-size: 2.8rem;
        margin-top: 2rem;

    }

    #page-information #content .content-about p {
        margin-top: 1.8rem;

        font-size: 1.7rem;

    }

}

@media (min-width: 1024px) {
    #page-information #content .img-main img {
        width: 35rem;
        height: 35rem;

        border-radius: 20rem;
        margin: auto 2.5rem auto 0;
    }

    #page-information #content .content-about {
        width: 55rem;
        height: 45rem;

        margin: 9.8rem auto 3rem;

    }

    #page-information #content .content-about h2 {
        font-size: 4.4rem;

        margin-top: 3.4rem;

    }

    #page-information #content .content-about p {
        font-size: 2rem;
        margin-top: 1rem;

    }

}