#page-main header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 4rem;

}

#page-main header.texts h1 {
    color: var(--color-primary-lighter);

    padding-left: 0.8rem 0rem 1.8rem;
    margin: 0.2rem auto 1rem;
    line-height: 1.4rem;

    font: 600 4rem Archivo;
    text-align: center;

}

#page-main header.texts h2 {
    color: var(--color-text-base);
    font: 500 2.6rem poppins;
    text-align: center;

}

#page-main section#container {
    background: var(--color-primary-darker);
    
    padding: 0.2rem 0px 0.2rem;/* Espaçamento */
    width: 85%; /* largura */
    margin: 1.6rem auto 2.6rem;

    border-radius: 0.8rem; /* Borda arredondadas */
    box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.363);

}

#page-main section div.msg h2, h4 {
    display: flex;
    align-items: center;
    justify-content: center;


}

#page-main section div.msg h2 {
    color: var(--color-text-in-primary);
    font: 700 3rem poppins;

    margin-top: 3.4rem;
    padding-left: 0.8rem;
    
}

#page-main section div.msg h4 {
    color: var(--color-text-in-primary);
    font: 500 1.6rem poppins;

    padding-left: 0.8rem;
    margin: 1rem auto 4.2rem;
}

#page-main section div.photo {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 2.8rem auto 3rem;
}

#page-main section div img {
    width: 21rem;
    height: 24rem;

    border-radius: 14rem;
    margin: 3rem auto 0.8rem;
}